<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/styles.css">
        <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="title">
            <h1>Register!</h1>
          </div>
    <div class="form">
        <form class="register-form" method="post">
            <input type="text" placeholder="Name" name="username"/>
            <input type="password" placeholder="Password" name="password"/>
            <input type="text" placeholder="Email Address" name="email"/>
            <button>Register</button>
            <p class="message">Already registered? <a href="/">Sign In</a></p>
          </form>
          <button>
          <a href="/auth/google" role="button">
            <i >
            Register with Google
        </i>
          </a>
        </button>
    </div>
      </div>
</body>
</html>