<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/styles.css">
    <title>Success</title>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #5A96E3;
            color: #566a84;
        }
        .main{
            position: relative;
            z-index: 1;
            max-width: 300px;
            margin: 0 auto;
        }
        .subMain{
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 360px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }
    </style>
</head>
<body>
  
    <div class="main">
      <div class="subMain">
        <h1>Login Successfull!!</h1>
      </div>
      </div>

</body>
</html>